extends ../layouts/ukiuki

block content
	div(ui-view="browse", ng-show="$state.includes('browse')")
	div(ui-view="whatisukiuki", ng-show="$state.includes('whatisukiuki')")
	div(ui-view="mypage", ng-show="$state.includes('mypage') || $state.includes('user')")
	
	#browse-items-block(style="display:none;")

		div#sidebar.ui.sidebar
			div.ui.menu.fluid.vertical.inverted
				a.item(ng-click="setCategory('*')", ng-class="{active: search.category == '*'}")
					| All
					span.label {{galleries.length}}
				a.item(ng-repeat="category in categories", ng-click="setCategory(category.value)", ng-class="{active: search.category == category.value, disabled: !category.total > 0}")
					| {{category.label}}
					span.label(ng-show="category.total > 0") {{category.total}}


		.gallery-block: .container-fluid.gallery-container

			div.row
				div.col-sm-6.col-md-4.col-lg-3.hidden-xs
					.gallery-text-block
						img.img-responsive(src="/images/gallery.gif")
						.inner
							p What is ukiuki?
							a.btn.dark-button(ui-sref="whatisukiuki") Click here

				gallery(data="gallery", ng-repeat="gallery in galleries | filter:searchFilter")
					//div.place-holder.gallery(ng-if="loading")
				div.col-sm-6.col-md-4.col-lg-3
					.gallery-text-block
						img.img-responsive(src="/images/gallery.gif")
						.inner
							p
								| UKiUKi allows you to 
								strong customise 
								| your site using your own banners, colours and wallpapers.
								
						
						
		
block js
	//script(src="/js/lib/angular/angular.min.js")

	script(src="/js/lib/angular/angular-file-upload-html5-shim.js")
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js")
	//script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js")
	script(src="/js/lib/angular/ct-ui-router-extras.min.js")
	script(src="/js/lib/angular/angular-file-upload.js")
	script(src="/js/lib/jquery/jquery.cloudinary.js")
	script(src="/js/lib/angular/angular.cloudinary.js")

	//script(src="/styles/semantic/less/modules/sidebar.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/javascript/semantic.min.js")

	script(src="/js/ukiuki-app.js")
	//script(src="/js/ukiuki-top-page.js")
	//script(src="//cdnjs.cloudflare.com/ajax/libs/holder/2.3.1/holder.js")
	//script(src="/js/ukiuki.js")
