doctype html
html(ng-app="app",ng-controller="MainController")

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title UKiUKi DEV
		link(href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css", rel="stylesheet")
		link(href="/styles/site.min.css", rel="stylesheet")
		link(href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
		
		
	body
		div#spinner.ui.page.active.dimmer
			div.ui.large.loader

		header
			.container-fluid
				.table-layout
					div
						a(href, ui-sref="browse")
							img.logo(src="/images/logos/u-art.png",alt="UKiUki Art",width="163",height="66")
					div.visible-lg
						span.motto(ng-hide="isLoggedin()") The most unique, creative space for artists
						//span.motto(ng-show="isLoggedin()")
							a(ui-sref="mypage.galleries") My UKiUKI
					div.right-column
						span.icons.pull-right.hidden-mobile
							img(src="/images/logos/icon-facebook.png", alt="Facebook", width="25")
							img(src="/images/logos/icon-twitter.png", alt="Twitter", width="25")
							img(src="/images/logos/icon-search.png", alt="Search", width="25")
						div(ng-hide="isLoggedin()")
							span.member.hidden-xs.hidden-sm.hidden-md Are you a member? 
							span
								a.link.collapsed(href="#login-block", data-toggle="collapse", data-parent="header") Login | Register
						div(ng-show="isLoggedin()")
							span.member
								a(ui-sref="mypage.galleries") {{user.username}}
								|
							span
								a.link(href="", ng-click="signout()") Sign out
				
			div#login-block.collapse.panel-collapse.dark-form
				div.inner
					.topbar.close-link.visible-xs.visible-sm
						.close-icon
							.icon ×
					.container-fluid
						//div.ui.two.column.middle.aligned.relaxed.stackable.grid
						div.row
							//.column
							.col-md-6
								form(name="signinForm", novalidate, ng-controller="SigninController", ng-submit="submit()", ng-class="{submitted: submitted}")
									h2 Login {{status}}
									p Existing members please enter your details below to login.
									div.field
										input(ng-model="email", type="text", required, ng-minlength="4", placeholder="Username")
									div.field
										input(ng-model="password", required, type="password", placeholder="Password")
									.field.hidden-mobile(style="visibility: hidden;")
										input(name="xxx")
									.table-layout.action-bar
										.div
											a(href="#") I've forgotten my password.
										.div.text-right
											button.btn.dark-button(type="SUBMIT",ng-class="{disabled: status == 'LOADING'}") LOGIN
									.alert.alert-danger(ng-show="status == 'ERROR'") Login failure. Please check your username and password.
							
							//.ui.vertical.inverted.divider.hidden-mobile OR
							
							//.column.aligned
							.col-md-6
								form(name="signupForm", novalidate, ng-controller="SignupController", ng-submit="submit()",ng-class="{submitted: submitted}")
									hr.visible-xs.visible-sm
									h2 Join us!
									p Register to become a member.
									.field
										input(ng-model="email", type="email", required, placeholder="Your email address", value="mike")
									.field
										input(ng-model="password", type="password", required, placeholder="Choose a password", value="mike")
									.field
										input(ng-model="username", type="text", required, ng-minlength="4", placeholder="Choose a username", value="xyz")
									div.action-bar.text-right
										button.btn.dark-button(type="submit", ng-class="{disabled: status == 'LOADING'}") REGISTER
									.alert.alert-danger(ng-show="status == 'ERROR'", ng-switch="error")
										span(ng-switch-when="USERNAME_TAKEN") Username "{{username}}" is already taken
										span(ng-switch-when="EMAIL_TAKEN") Email "{{email}}" is already taken
								
	
								
					.leftbar.close-link.hidden-xs.hidden-sm
						.close-text CLOSE
						.close-icon
							.icon ×
							//i.close.icon
							//i.fa.fa-close
							
						
				div.footer
					.container-fluid
						button.ui.button.labeled.icon.facebook.mini
							//i.icon.facebook
							i.icon.fa.fa-facebook
							| Facebook
						button.ui.button.labeled.icon.google.plus.mini
							//i.icon.google.plus
							i.icon.fa.fa-google
							| Google
							


			div.uki-navbar
				.container-fluid
					button.btn.navbar-toggle(data-toggleXX="offcanvas",style="display:block;",ng-show="$state.includes('browse')")
						div.bars
							- for(var i=0; i<3; i++)
								span.icon-bar
						div.text Filter by category	
	
		block content
		
		footer
			div.container-fluid
				div.row
					div.col.col-md-4
						h2 About us
						div.ui.menu.vertical.fluid
							//a.item(href="/whatisukiuki") What is UKiUKi?
							a.item(ui-sref="whatisukiuki") What is UKiUKi?
							a.item.disabled(href="#") Get Professional
							a.item.disabled(href="#") FAQs
							a.item.disabled(href="#") Mature Audience conditions
							a.item.disabled(href="#") Terms of use
							a.item.disabled(href="#") Report a bug
							a.item.disabled(href="#") Contact us
					div.col.col-md-4
						h2 Latest news
						div.ui.menu.vertical.fluid
							a.disabled.item(href="#") Title of news #1
							a.disabled.item(href="#") Title of news #2
							a.disabled.item(href="#") Title of news #3
	
							
					div.col.col-md-4
						h2 Recommended artists
						
		script(src='/js/lib/jquery/jquery-1.11.1.min.js')
		script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')
		
		block js
