@gallery-width: 300px;//size of the gallery pictures

.gallery{
	margin-bottom: @grid-gutter-width;
	background-color: #444444;
	color: #858585;
	text-align: center;
}

.info {
	position: relative;
	color: #858585;
	.inner{
		position: absolute;
		text-align: center;
		width: 100%;
		top: 50%;
		margin-top: -40px;
		padding: 0 20px;
	}

	strong{
		color: @uki-light-purple;
	}
}

.label{
	font-size: 0.8em;
	border-radius: 4px;
}

.gallery-block{
	background-color: #cbcbcb;
	#gradient > .radial(#dadada, #575656);
	padding: @grid-gutter-width 0 0;
}

.gallery-container{
	
	max-width: @gallery-width + @grid-gutter-width;//1 picture per line for small screens
	@media(min-width: @screen-sm-min){
		max-width: (@gallery-width + @grid-gutter-width) * 2;//2 pictures per line
	}
	@media(min-width: @screen-md-min){
		max-width: (@gallery-width + @grid-gutter-width) * 3;//3 pictures per line
	}
	@media(min-width: @screen-lg-min){
		max-width: (@gallery-width + @grid-gutter-width) * 4;//4 pictures per line
	}

}
.place-holder{
	height: 300px;
	text-align: center;
	opacity: 0.3;
	//border: 1px solid white;
}
